dev-healthcare-adf/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-healthcare-adf"
		},
		"LS_ADB_NOTEBOOK_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'LS_ADB_NOTEBOOK'"
		},
		"LS_HEALTHCARE_SINK_ADLS_JSON_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_HEALTHCARE_SINK_ADLS_JSON'"
		},
		"LS_HEALTHCARE_SQL_CONFIG_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_HEALTHCARE_SQL_CONFIG'"
		},
		"LS_ADB_NOTEBOOK_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0217-181607-x0d89n03"
		},
		"LS_HEALTHCARE_API_SOURCE_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://r4.smarthealthit.org/"
		},
		"LS_HEALTHCARE_SINK_ADLS_JSON_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://devhealthcarestorage12.dfs.core.windows.net/"
		},
		"LS_HEALTHCARE_SQL_CONFIG_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "dev-healthcare-sql-server.database.windows.net"
		},
		"LS_HEALTHCARE_SQL_CONFIG_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dev_healthcare_sql_database"
		},
		"LS_HEALTHCARE_SQL_CONFIG_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "suhas"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/API_Master_PL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Pipeline Run Logs",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select is_last_run_completed from [healthcare].[pipeline_run_status]\nwhere [pipeline_name] = 'API_Master_PL'",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_HEALTHCARE_SQL_CONFIG",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": true
						}
					},
					{
						"name": "Check Pipeline last run completed 1 or not",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup Pipeline Run Logs",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('Lookup Pipeline Run Logs').output.firstRow['is_last_run_completed'],1)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Set MasterPipelineRunID",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set Pipeline Start Time",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "masterPipelineRunID",
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Update is_last_run_completed to 0",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Set Pipeline Start Time",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_HEALTHCARE_SQL_CONFIG",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "UPDATE [healthcare].[pipeline_run_status] SET [is_last_run_completed] = 0, [added_by] = '@{variables('masterPipelineRunID')}' WHERE [pipeline_name] = 'API_Master_PL'",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "Execute Ingestion Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "Update is_last_run_completed to 0",
											"dependencyConditions": [
												"Succeeded"
											]
										},
										{
											"activity": "Set MasterPipelineRunID",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Ingestion Pipeline",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "Execute Load_JSON_To_Bronze",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Execute Ingestion Pipeline",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/suhasrathod08@gmail.com/Healthcare/Load_JSON_To_Bronze",
										"baseParameters": {
											"masterPipelineRunID": {
												"value": "@variables('masterPipelineRunID')",
												"type": "Expression"
											},
											"FileName": {
												"value": "{\n  \"baseParameters\": {\n    \"FileName\": \"@concat('Patient_', formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'), '.json')\"\n  }\n}\n",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_ADB_NOTEBOOK",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update is_last_run_completed to 1",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Update Current Checkpoint",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_HEALTHCARE_SQL_CONFIG",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "UPDATE [healthcare].[pipeline_run_status] SET [is_last_run_completed] = 1, [added_by] = '@{variables('masterPipelineRunID')}' WHERE [pipeline_name] = 'API_Master_PL'",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								},
								{
									"name": "Set Pipeline Start Time",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "pipelineStartTime",
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Execute Bronze To Silver",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Execute Load_JSON_To_Bronze",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/suhasrathod08@gmail.com/Healthcare/Bronze_To_Silver_Healthcare",
										"baseParameters": {
											"masterPipelineRunID": {
												"value": "@variables('masterPipelineRunID')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_ADB_NOTEBOOK",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Execute Silver To Gold",
									"type": "DatabricksNotebook",
									"dependsOn": [
										{
											"activity": "Execute Bronze To Silver",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"notebookPath": "/Users/suhasrathod08@gmail.com/Healthcare/Silver_To_Gold_Healthcare",
										"baseParameters": {
											"masterPipelineRunID": {
												"value": "@variables('masterPipelineRunID')",
												"type": "Expression"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "LS_ADB_NOTEBOOK",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Update Current Checkpoint",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "Execute Silver To Gold",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "LS_HEALTHCARE_SQL_CONFIG",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "UPDATE healthcare.api_config_table SET PREVIOUSCHECKPOINT=CURRENTCHECKPOINT, CURRENTCHECKPOINT='@{formatDateTime(variables('pipelineStartTime'),'yyyy-MM-ddTHH:mm:ss')}', Added_By='@{variables('masterPipelineRunID')}'",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"masterPipelineRunID": {
						"type": "String"
					},
					"pipelineStartTime": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-21T08:13:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_HEALTHCARE_SQL_CONFIG')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_HEALTHCARE_SQL_CONFIG')]",
				"[concat(variables('factoryId'), '/pipelines/Ingestion Pipeline')]",
				"[concat(variables('factoryId'), '/linkedServices/LS_ADB_NOTEBOOK')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Ingestion Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_api_config_table",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "select * from [healthcare].[api_config_table] where Is_Active=1",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_HEALTHCARE_SQL_CONFIG",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Itrate_API_Resource",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_api_config_table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_api_config_table').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copydata_resource_to_ADLS",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "JsonSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "JsonWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DS_API_SOURCE_JSON",
											"type": "DatasetReference",
											"parameters": {
												"resource": {
													"value": "@if(\n    equals(item().Is_Historical, 1),\n    item().Resource_Name,\n    concat(\n        item().Resource_Name,\n        '?_lastUpdated=gt',\n        item().CURRENTCHECKPOINT\n    )\n)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_HEALTHCARE_SINK_ADLS_JSON",
											"type": "DatasetReference",
											"parameters": {
												"ContainerName": {
													"value": "@item().Stage_Container_Name",
													"type": "Expression"
												},
												"SinkFolder": {
													"value": "@item().Stage_Folder_Path",
													"type": "Expression"
												},
												"SinkFileName": {
													"value": "@concat(item().Stage_File_Name,'_',formatDateTime(utcNow(),'yyyyMMdd_HHmmss'),'.json')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-02-21T07:46:39Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_HEALTHCARE_SQL_CONFIG')]",
				"[concat(variables('factoryId'), '/datasets/DS_API_SOURCE_JSON')]",
				"[concat(variables('factoryId'), '/datasets/DS_HEALTHCARE_SINK_ADLS_JSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_API_SOURCE_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_HEALTHCARE_API_SOURCE",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"resource": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().resource",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_HEALTHCARE_API_SOURCE')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_HEALTHCARE_SINK_ADLS_JSON')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_HEALTHCARE_SINK_ADLS_JSON",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"ContainerName": {
						"type": "string"
					},
					"SinkFolder": {
						"type": "string"
					},
					"SinkFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().SinkFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(dataset().SinkFolder,'/',formatDateTime(utcNow(),'yyyy'))",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().ContainerName",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_HEALTHCARE_SINK_ADLS_JSON')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_HEALTHCARE_SQL_CONFIG')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_HEALTHCARE_SQL_CONFIG",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_HEALTHCARE_SQL_CONFIG')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADB_NOTEBOOK')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-7405609854746390.10.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('LS_ADB_NOTEBOOK_accessToken')]"
					},
					"existingClusterId": "[parameters('LS_ADB_NOTEBOOK_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_HEALTHCARE_API_SOURCE')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('LS_HEALTHCARE_API_SOURCE_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_HEALTHCARE_SINK_ADLS_JSON')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_HEALTHCARE_SINK_ADLS_JSON_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_HEALTHCARE_SINK_ADLS_JSON_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_HEALTHCARE_SQL_CONFIG')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('LS_HEALTHCARE_SQL_CONFIG_properties_typeProperties_server')]",
					"database": "[parameters('LS_HEALTHCARE_SQL_CONFIG_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": true,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_HEALTHCARE_SQL_CONFIG_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_HEALTHCARE_SQL_CONFIG_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}