pipeline/Ingestion Pipeline.json
{
	"name": "Ingestion Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup_api_config_table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from [healthcare].[api_config_table] where Is_Active=1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_HEALTHCARE_SQL_CONFIG",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Itrate_API_Resource",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_api_config_table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_api_config_table').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copydata_resource_to_ADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_API_SOURCE_JSON",
									"type": "DatasetReference",
									"parameters": {
										"resource": {
											"value": "@if(\n    equals(item().Is_Historical, 1),\n    item().Resource_Name,\n    concat(\n        item().Resource_Name,\n        '?_lastUpdated=gt',\n        item().CURRENTCHECKPOINT\n    )\n)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_HEALTHCARE_SINK_ADLS_JSON",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": {
											"value": "@item().Stage_Container_Name",
											"type": "Expression"
										},
										"SinkFolder": {
											"value": "@item().Stage_Folder_Path",
											"type": "Expression"
										},
										"SinkFileName": {
											"value": "@concat(item().Stage_File_Name,'_',formatDateTime(utcNow(),'yyyyMMdd_HHmmss'),'.json')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-21T07:46:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}